zipkin-logger-example/src/main/app/zipkin-logger-example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:zipkin-logger="http://www.mulesoft.org/schema/mule/zipkin-logger" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/zipkin-logger http://www.mulesoft.org/schema/mule/zipkin-logger/current/mule-zipkin-logger.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" connectionIdleTimeout="3000000"/>
    <http:request-config name="HTTP_Request_Configuration"  host="google.com" port="80" basePath="/" doc:name="HTTP Request Configuration" connectionIdleTimeout="3000000"/>
    <zipkin-logger:http-config name="Zipkin_Logger__ZipkinHTTPConfiguration" doc:name="Zipkin Logger: ZipkinHTTPConfiguration" serviceName="my-polling-client"/>
    <zipkin-logger:console-config name="Zipkin_Logger__Zipkin_Console_Logging_Configuration" doc:name="Zipkin Logger: Zipkin Console Logging Configuration"/>
    <http:request-config name="HTTP_Request_Configuration1" host="localhost" port="8081" basePath="/" doc:name="HTTP Request Configuration"/>
    <zipkin-logger:http-config name="Zipkin_Logger__ZipkinHTTPConfiguration1" serviceName="my-proxy-service" doc:name="Zipkin Logger: ZipkinHTTPConfiguration"/>
    <zipkin-logger:http-config name="Zipkin_Logger__ZipkinHTTPConfiguration2" serviceName="google-proxy" doc:name="Zipkin Logger: ZipkinHTTPConfiguration"/>
    <flow name="Polling-client-flow">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="10000"/>
            <logger message="Starting a call" level="INFO" doc:name="Logger"/>
        </poll>
        <zipkin-logger:create-new-trace config-ref="Zipkin_Logger__Zipkin_Console_Logging_Configuration" logMessage="This is message 1" spanName="myspan1" traceName="mytrace1" doc:name="Start sync trace">
            <zipkin-logger:additional-tags>
                <zipkin-logger:additional-tag key="Entry">entry1</zipkin-logger:additional-tag>
                <zipkin-logger:additional-tag key="Entry2">Entry2222</zipkin-logger:additional-tag>
            </zipkin-logger:additional-tags>
        </zipkin-logger:create-new-trace>
        <zipkin-logger:finish-span config-ref="Zipkin_Logger__ZipkinHTTPConfiguration" expressionToGetSpanId="#[flowVars.newSpanId]" doc:name="Finish Zipkin span #1"/>
    </flow>
    <flow name="Service-flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <flow-ref name="zipkin-logger-google-proxy-subflow" doc:name="zipkin-logger-google-proxy-subflow"/>
        <set-payload value="{&quot;result&quot;: &quot;success&quot;}" doc:name="Set Response Payload"/>
    </flow>
    <sub-flow name="zipkin-logger-google-proxy-subflow">
        <dw:transform-message doc:name="Prepare Zipkin message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	loggerTags: [{
		key: "Message",
		value: "Server calls another client"
	}],
	traceData: {
		debug: payload.debug,
		parentSpanId: payload.parentSpanId,
		sampled: payload.sampled,
		spanId: payload.spanId,
		traceId: payload.traceId
	}
} as :object {
	class : "com.mulesoft.consulting.zipkinloggerconnector.model.LoggerData"
}
]]></dw:set-payload>
        </dw:transform-message>
        <message-properties-transformer doc:name="Propagate Zipkin properties">
            <add-message-property key="X-B3-Debug" value="#[payload.debug]"/>
            <add-message-property key="X-B3-ParentSpanId" value="#[payload.parentSpanId]"/>
            <add-message-property key="X-B3-TraceId" value="#[payload.traceId]"/>
            <add-message-property key="X-B3-SpanId" value="#[payload.spanId]"/>
            <add-message-property key="X-B3-Sampled" value="#[payload.sampled]"/>
        </message-properties-transformer>
        <http:request config-ref="HTTP_Request_Configuration" path="/" method="GET" followRedirects="false" parseResponse="false" doc:name="HTTP"/>
    </sub-flow>
</mule>
